# project files
.env*
!.env.example

# PHP / Composer
/vendor
/.phpunit.cache
/runtime
.phpunit.result.cache

# claude code local config
/.claude/settings.local.json

# editors configs
/.idea
/.vscode
/nbproject
/.vagrant
/.ai
/.playwright-mcp

# windows/Mac thumbnail cache
.DS_Store
Thumbs.db

